{% load staticfiles i18n %}

<!--
Test Page Version: 0.4.2
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Green Button REST Client Test Page: DogPackDesign</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css"
          integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/css/tether.min.css">
    <link rel="stylesheet" href="../static/greenbutton.css">
    <link rel="stylesheet" href="../static/prism.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body class="m-y-1">

<div class="container">
    <a href="/">
        <div id="page_header" class="d-block bg-success">
            <h1 class="display-2 text-xs-center">Green Button REST API</h1>
        </div>
    </a>
    <div>
        {% if context.response and context.response != "Failed" %}
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <button id="toggle_xml" class="btn btn-primary">SHOW/HIDE XML Resposne</button>
                    <button id="toggle_table" class="btn btn-success">SHOW/HIDE Parsed Data</button>
                </div>
                <div class="col-xs-6">
                    <form method="get" action="download-csv/"><button type="submit" class="btn btn-info">Download CSV</button></form>
                </div>
            </div>
        </div>
        <br>
        <div class="row m-b-1" style="width:100%">
            <div id="xml_div" class="data_div" style="display:none">
                <pre><code class="language-xml">
                    {{ context.response }}
                </code></pre>
            </div>
            <div id="table_div" class="data_div" style="display:none">
                {% if context.json %}
                    {% include "greenbutton/parsed_xml.html" %}
                {% endif %}
            </div>
        </div>
        {% elif context.response == "Failed" %}
        <div class="alert alert-danger" role="alert">
            <strong>No Response Returned from GreenButton. API Call Failed</strong>
        </div>
        {% endif %}
    </div>
    <!-- Field names: access_token -->
    <!--<div class="form-group row">-->
        <!--<label for="access_token" class="col-xs-2 col-form-label text-xs-right">Access Token</label>-->
        <!--<div class="col-xs-10">-->
            <!--<div id="access_token_alert"></div>-->
            <!--<div class="input-group">-->
                <!--<input type="text" name="access_token" value="Bearer 2a85f4bd-30db-4b7d-8f41-b046b0566cb3"-->
                       <!--class="required form-control form-control-md" id="access_token" placeholder="Access Token">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <ul class="list-group">

        <li class="list-group-item list-group-item-action list-group-item-info"><a data-toggle="collapse"
                                                                                   href="#app_info">
            GET Application Information <i class="fa fa-chevron-down"></i></a></li>
        <div class="collapse" id="app_info">
            <br>
            <div class="card card-outline-success endpoint_links">
                <div class="card-header text-xs-center bg-success">
                    <h6>ENDPOINTS COVERED HERE</h6>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/ApplicationInformation</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/ApplicationInformation/{applicationInformationId}</li>
                    </ul>
                </div>
            </div>

            <h3 class="text-xs-center form_header">Get Application Information</h3>
            <form id="app_info_form" class="form_div" method="post" action="app-info/">
                {% csrf_token %}
            <table class="m-x-auto">{{ forms.app_info.as_table }}</table>
            <button type="submit" name="app_info_submit" class="btn btn-success btn-md btn-block m-y-1">Submit</button>
            </form>


            <h3 class="text-xs-center form_header">Get Application Information by Id</h3>
            <form id="app_info_id_form" class="form_div" method="post" action="app-info-id/">
                {% csrf_token %}
                <table class="m-x-auto">{{ forms.app_info_by_id.as_table }}</table>
                <button type="submit" name="app_info_submit" class="btn btn-success btn-md btn-block m-y-1">Submit</button>
            </form>
        </div>

        <li class="list-group-item list-group-item-action list-group-item-info"><a data-toggle="collapse" href="#auth">GET
            Authorization <i class="fa fa-chevron-down"></i></a></li>
        <div class="collapse" id="auth">
            <br>
            <div class="card card-outline-success endpoint_links">
                <div class="card-header text-xs-center bg-success">
                    <h6>ENDPOINTS COVERED HERE</h6>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Authorization</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Authorization/{authorizationId}</li>
                    </ul>
                </div>
            </div>


            <form id="auth_form" class="form_div" method="post" action="auth/">
                {% csrf_token %}
                <h3 class="text-xs-center form_header">GET Authorization</h3>
                <table class="m-x-auto">{{ forms.auth.as_table }}</table>
                <button type="submit" name="auth_submit" class="btn btn-success btn-md btn-block m-y-1">Submit</button>
            </form>
        </div>


        <li class="list-group-item list-group-item-action list-group-item-info"><a data-toggle="collapse" href="#bulk">GET
            Bulk
            Transfer from DataCustodian <i class="fa fa-chevron-down"></i></a></li>

        <div class="collapse" id="bulk">
            <br>
            <div class="card card-outline-success endpoint_links">
                <div class="card-header text-xs-center bg-success">
                    <h6>ENDPOINTS COVERED HERE</h6>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Batch/Bulk/{bulkId}</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Batch/Subscription/{subscriptionId}</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Batch/RetailCustomer/{retailCustomerId}/UsagePoint</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Batch/Subscription/{subscriptionId}/UsagePoint/{usagePointId}</li>
                    </ul>
                </div>
            </div>


            <h3 class="text-xs-center form_header">GET Bulk Tranfer</h3>
            <label for="batch_bulk_radio">Batch Bulk Id</label>
            <input type="radio" name="batch" id="batch_bulk_radio" class="batch_radio" checked>
            <label for="batch_sub_radio">Batch Subscription Id</label>
            <input type="radio" name="batch" id="batch_sub_radio" class="batch_radio">
            <label for="batch_retail_radio">Batch Retail Customer Id</label>
            <input type="radio" name="batch" id="batch_retail_radio" class="batch_radio">
            <label for="batch_sub_usage_radio">Batch Subscription&UsagePoint Ids</label>
            <input type="radio" name="batch" id="batch_sub_usage_radio" class="batch_radio">
            <br>
            <form id="batch_bulk_form" class="form_div batch_form" method="post" action="batch-bulk/">
                {% csrf_token %}
                <h4 class="text-xs-center">Batch Bulk Form</h4>
                <table class="m-x-auto">{{ forms.batch_bulk.as_table }}</table>
                <button type="submit" name="bulk_submit" class="btn btn-success btn-md btn-block m-y-1">Submit</button>
            </form>
            <form id="batch_sub_form" class="form_div batch_form" method="post" action="batch-sub/" style="display:none">
                {% csrf_token %}
                <h4 class="text-xs-center">Batch Subscription Form</h4>
                <table class="m-x-auto">{{ forms.batch_sub.as_table }}</table>
                <button type="submit" name="bulk_submit" class="btn btn-success btn-md btn-block m-y-1">Submit</button>
            </form>
            <form id="batch_retail_form" class="form_div batch_form" method="post" action="batch-retail/" style="display:none">
                {% csrf_token %}
                <h4 class="text-xs-center">Batch Retail Customer Form</h4>
                <table class="m-x-auto">{{ forms.batch_retail.as_table }}</table>
                <button type="submit" name="bulk_submit" class="btn btn-success btn-md btn-block m-y-1">Submit</button>
            </form>
            <form id="batch_sub_usage_form" class="form_div batch_form" method="post" action="batch-sub-usage/" style="display:none">
                {% csrf_token %}
                <h4 class="text-xs-center">Batch Supscription and UsagePoint Form</h4>
                <table class="m-x-auto">{{ forms.batch_sub_usage.as_table }}</table>
                <button type="submit" name="bulk_submit" class="btn btn-success btn-md btn-block m-y-1">Submit</button>
            </form>
        </div>

        <li class="list-group-item list-group-item-action list-group-item-info"><a data-toggle="collapse"
                                                                                   href="#epower">GET
            Electirc Power Quality and Usage Summaries <i class="fa fa-chevron-down"></i></a></li>


        <div class="collapse" id="epower">
            <div class="card card-outline-success endpoint_links">
                <div class="card-header text-xs-center bg-success">
                    <h6>ENDPOINTS COVERED HERE</h6>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Subscription/{subscriptionId}/UsagePoint/{usagePointId}/ElectricPowerQualitySummary</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Subscription/{subscriptionId}/UsagePoint/{usagePointId}/ElectricPowerQualitySummary/{electricPowerQualitySummaryId}</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Subscription/{subscriptionId}/UsagePoint/{usagePointId}/ElectricUsageQualitySummary</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Subscription/{subscriptionId}/UsagePoint/{usagePointId}/ElectricUsageQualitySummary/{electricUsageQualitySummaryId}</li>
                    </ul>
                </div>
            </div>
            <div class="alert alert-warning">
                <strong>Warning: The "GET /espi/1_1/resource/Subscription/{subscriptionId}/UsagePoint/{usagePointId}/
                    ElectricPowerQualitySummary/{electricPowerQualitySummaryId}"
                    Endpoint has been unresponsive, so the XML response has not been properly tested.
                </strong>
            </div>


            <label for="batch_bulk_radio">Electric Power Quality</label>
            <input type="radio" name="epower" id="epower_quality_radio" class="epower_radio" checked>
            <label for="batch_sub_radio">Electirc Power Usage</label>
            <input type="radio" name="epower" id="epower_usage_radio" class="epower_radio">

            <form name="epower_form" id="epower_form" class="form_div" method="post">
                {% csrf_token %}
                <h3 class="text-xs-center form_header">GET Electrical Power Quality and Usage Summaries</h3>
                <table class="m-x-auto">{{ forms.electric_power_summary.as_table }}</table>

                <button type="submit" name="epower_submit" class="btn btn-success btn-md btn-block m-y-1">Submit
                </button>
            </form>
        </div>

        <li class="list-group-item list-group-item-action list-group-item-info"><a data-toggle="collapse"
                                                                                   href="#interval">GET Interval
            Block <i class="fa fa-chevron-down"></i></a></li>

        <div class="collapse" id="interval">
            <br>
            <div class="card card-outline-success endpoint_links">
                <div class="card-header text-xs-center bg-success">
                    <h6>ENDPOINTS COVERED HERE</h6>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/IntervalBlock</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/IntervalBlock/{intervalBlockId}</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Subscription/{subscriptionId}/UsagePoint/{usagePointId}/MeterReading/{meterReadingId}/IntervalBlock</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Subscription/{subscriptionId}/UsagePoint/{usagePointId}/MeterReading/{meterReadingId}/IntervalBlock/{intervalBlockId}</li>
                    </ul>
                </div>
            </div>
            <div class="alert alert-warning">
                <strong>Warning: The "GET /espi/1_1/resource/IntervalBlock" Endpoint has been unresponsive, so the XML
                    response has not been properly tested.
                </strong>
            </div>


            <form id="interval_form" class="form_div" method="post" action="interval/">
                {% csrf_token %}
                <h3 class="text-xs-center form_header">GET Interval Block</h3>

                <table class="m-x-auto">{{ forms.interval }}</table>

                <button type="submit" name="interval_submit" class="btn btn-success btn-md btn-block m-y-1">Submit
                </button>
            </form>
            <br>
            <form id="specific_interval_form" class="form_div" method="post" action="specific-interval/">
                {% csrf_token %}
                <h3 class="text-xs-center form_header">GET Interval Block by Subscription, UsagePoint, Meter, and Interval IDs</h3>

                <table class="m-x-auto">{{ forms.specific_interval }}</table>

                <button type="submit" name="interval_submit" class="btn btn-success btn-md btn-block m-y-1">Submit
                </button>
            </form>
        </div>


        <li class="list-group-item list-group-item-action list-group-item-info"><a data-toggle="collapse"
                                                                                   href="#local_time">GET Local
            Time Parameters <i class="fa fa-chevron-down"></i></a></li>

        <div class="collapse" id="local_time">
            <br>
            <div class="card card-outline-success endpoint_links">
                <div class="card-header text-xs-center bg-success">
                    <h6>ENDPOINTS COVERED HERE</h6>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/LocalTimeParameters</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/LocalTimeParameters/{localTimeParameterId}</li>
                    </ul>
                </div>
            </div>


            <form id="local_time_form" class="form_div" method="post" action="local-time/">
                {% csrf_token %}
                <h3 class="text-xs-center form_header">GET local_time Parameter</h3>

                <table class="m-x-auto">{{ forms.local_time.as_table }}</table>

                <button type="submit" name="local_time_submit" class="btn btn-success btn-md btn-block m-y-1">Submit
                </button>
            </form>
        </div>

        <li class="list-group-item list-group-item-action list-group-item-info"><a data-toggle="collapse" href="#meter">GET Meter Readings <i class="fa fa-chevron-down"></i></a></li>

        <div class="collapse" id="meter">
            <br>
            <div class="card card-outline-success endpoint_links">
                <div class="card-header text-xs-center bg-success">
                    <h6>ENDPOINTS COVERED HERE</h6>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/MeterReading</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/MeterReading/{meterReadingId}</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Subscription/{subscriptionId}/UsagePoint/{usagePointId}/MeterReading</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Subscription/{subscriptionId}/UsagePoint/{usagePointId}/MeterReading/{meterReadingId}</li>
                    </ul>
                </div>
            </div>


            <form id="meter_form" class="form_div" method="post" action="meter-reading/">
                {% csrf_token %}
                <h3 class="text-xs-center form_header">GET Meter Readings</h3>

                <table class="m-x-auto">{{ forms.meter_reading.as_table }}</table>

                <button type="submit" name="meter_submit" class="btn btn-success btn-md btn-block m-y-1">Submit
                </button>
            </form>
            <br>
            <form id="meter_by_sub_usageform" class="form_div" method="post" action="meter-reading-sub-usage/">
                {% csrf_token %}
                <h3 class="text-xs-center form_header">GET Meter Readings by Subscription and UsagePoint</h3>

                <table class="m-x-auto">{{ forms.meter_reading_sub_usage.as_table }}</table>

                <button type="submit" name="meter_submit" class="btn btn-success btn-md btn-block m-y-1">Submit
                </button>
            </form>
        </div>


        <li class="list-group-item list-group-item-action list-group-item-info"><a data-toggle="collapse" href="#reading_type">GET Reading Types <i class="fa fa-chevron-down"></i></a></li>

        <div class="collapse" id="reading_type">
            <br>
            <div class="card card-outline-success endpoint_links">
                <div class="card-header text-xs-center bg-success">
                    <h6>ENDPOINTS COVERED HERE</h6>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/ReadingType</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/ReadingType/{readingTypeId}</li>
                    </ul>
                </div>
            </div>


            <form id="reading_type_form" class="form_div" method="post" action="reading-type/">
                {% csrf_token %}
                <h3 class="text-xs-center form_header">GET Reading Type</h3>

                <table class="m-x-auto">{{ forms.reading_type.as_table }}</table>

                <button type="submit" name="reading_type_submit" class="btn btn-success btn-md btn-block m-y-1">Submit</button>
            </form>
        </div>

        <li class="list-group-item list-group-item-action list-group-item-info"><a data-toggle="collapse" href="#server_status">GET Data Custodian Resource Server's Status <i class="fa fa-chevron-down"></i></a></li>


            <div id="server_status" class="collapse">
                <br>
            <div class="card card-outline-success endpoint_links">
                <div class="card-header text-xs-center bg-success">
                    <h6>ENDPOINTS COVERED HERE</h6>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/ReadServiceStatus</li>
                    </ul>
                </div>
            </div>


                <form id="server_status_form" class="form_div" method="post" action="service-status/">
                    {% csrf_token %}
                    <h3 class="text-xs-center form_header">GET Server Status</h3>
                    <button type="submit" name="server_status_submit" class="btn btn-success btn-md btn-block m-y-1">Click to Get Server Status</button>
                </form>
            </div>

        <li class="list-group-item list-group-item-action list-group-item-info"><a data-toggle="collapse" href="#usagepoint">GET UsagePoints <i class="fa fa-chevron-down"></i></a></li>

        <div class="collapse" id="usagepoint">
            <br>
            <div class="card card-outline-success endpoint_links">
                <div class="card-header text-xs-center bg-success">
                    <h6>ENDPOINTS COVERED HERE</h6>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/UsagePoint/</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/UsagePoint/{usagePointId}</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Subscription/{subscriptionId}/UsagePoint</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Subscription/{subscriptionId}/UsagePoint/{usagePointId}</li>
                    </ul>
                </div>
            </div>


            <form id="usagepoint_form" class="form_div" method="post" action="usagepoint/">
                {% csrf_token %}
                <h3 class="text-xs-center form_header">GET UsagePoint</h3>

                <table class="m-x-auto">{{ forms.usagepoint.as_table }}</table>

                <button type="submit" name="usagepoint_submit" class="btn btn-success btn-md btn-block m-y-1">Submit</button>
            </form>
            <br>
            <form id="usagepoint_by_sub_form" class="form_div" method="post" action="usagepoint-by-sub/">
                {% csrf_token %}
                <h3 class="text-xs-center form_header">GET UsagePoint by Subscription</h3>

                <table class="m-x-auto">{{ forms.usagepoint_by_sub.as_table }}</table>

                <button type="submit" name="usagepoint_submit" class="btn btn-success btn-md btn-block m-y-1">Submit</button>
            </form>
        </div>

    </ul>
</div>


<br>
<footer>
    <p class="text-xs-center">&copy; DogPackDesign 2016</p>
</footer>

<script>
{% if api_data %}
var api_data = {{ api_data|safe }};
{% endif %}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"
        integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU"
        crossorigin="anonymous"></script>
<script src="../static/prism.js"></script>
<script src="../static/greenbutton.js"></script>

</body>


</html>