body {
    background-color: rgb(250,250,255);
}

#page_header {
    border-radius: 10px;
}

label {
    font-size: 12px;
    font-weight: bold;
}

.underline {
    border-bottom: 3px solid black;
    padding-bottom: 5px;
}

.form_div {
    border: 3px solid green;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sub_form_div {
    border: 1px solid rgb(0,200,0);
    background-color: rgb(240,255,240);
    margin-bottom: 10px;
}

.form_header {
    color: rgb(0,150,0);
}

.endpoint_links {
    font-size: 14px;
}

#xml_div {
    background-color: rgb(255,255,240);
    overflow-y: scroll;
    border: 2px solid black;
    padding: 20px;
}

.tag {
    font-size: 1em;
}

.endpoint_links {
    font-size: 0.9em;
}

.endpoint_links.