<h2 class="text-xs-center">{{ context.json.title }}</h2>
<h4 class="text-xs-center">UUID: {{ context.json.uuid }}</h4>
<br>
<h4 class="text-xs-center">Published: {{ context.json.published }}</h4>
<h4 class="text-xs-center">Updated:   {{ context.json.updated }}</h4>
<br>
<h4>Links:</h4>
<ul>
{% for link in context.json.links %}
    <li>{{ link }}</li>
{% endfor %}
</ul>

{% if context.json.entries %}
{% for entry in context.json.entries %}
<div class="data_entry m-y-1 p-a-1">
    <h3 class="text-xs-center">{{ entry.title }}</h3>
    <h5 class="text-xs-center">UUID: {{ entry.uuid }}</h5>
    <br>
    <h5 class="text-xs-center">Published: {{ entry.published }}</h5>
    <h5 class="text-xs-center">Updated:   {{ entry.updated }}</h5>
    <br>
    <h5>Links:</h5>
    <ul>
    {% for link in entry.links %}
        <li>{{ link }}</li>
    {% endfor %}
    </ul>
    <hr>
    {% if entry.content %}
    {% for resource in entry.content %}
    {% for resourcekey, resourceval in resource.items %}
        <h5 class="text-xs-center">{{ resourcekey }}</h5>
        <table class="data_table">
        {% for parts in resourceval %}
            {% for partkey, partval in parts.items %}
            {% if partkey != "var_type" %}
            <tr>
                <td>{{ partkey }}</td>
                <td>
                    {% if parts.var_type == "str" %}
                    {{ partval }}
                    {% else %}
                    <table class="sub_data_table">
                    {% for aset in partval %}
                    {% for akey, aval in aset.items %}
                        {% if akey != "var_type" %}<tr>
                            <td>{{ akey }}</td>
                            <td>
                                {% if aset.var_type == "str" %}
                                {{ aval }}
                                {% else %}
                                    <table class="data_table">
                                    {% for bset in aval %}
                                    {% for bkey, bval in bset.items %}
                                        {% if bkey != "var_type" %}
                                        <tr><td>{{ bkey }}</td><td>{{ bval }}</td></tr>
                                        {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                    </table>
                                {% endif %}
                            </td>
                    </tr>{% endif %}
                    {% endfor %}
                    {% endfor %}
                    </table>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        {% endfor %}
        </table>
    {% endfor %}
    {% endfor %}
    {% endif %}

</div>
{% endfor %}
{% endif %}

{% if context.json.content %}
{% for resource in context.json.content %}
    <div class="data_entry m-y-1 p-a-1">
    {% for resourcekey, resourceval in resource.items %}
        <h5 class="text-xs-center">{{ resourcekey }}</h5>
        <table class="data_table">
        {% for parts in resourceval %}
            {% for partkey, partval in parts.items %}
            <tr><td>{{ partkey }}</td><td>{{ partval }}</td></tr>
            {% endfor %}
        {% endfor %}
        </table>
    {% endfor %}
    </div>
{% endfor %}
{% endif %}
