<!DOCTYPE html>
<html lang="en">

<head>
    <title>Green Button REST Client Test Page: DogPackDesign</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css"
          integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/css/tether.min.css">
    <link rel="stylesheet" href="../static/greenbutton.css">
    <link rel="stylesheet" href="../static/prism.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body class="m-y-1">

<div class="container">
    <a href="/">
        <div id="page_header" class="d-block bg-success">
            <h1 class="display-2 text-xs-center">Green Button REST API</h1>
        </div>
    </a>
    <br>
    <div style="width:100%">

    {% if response %}
        <div>
            <button id="toggle_xml" class="btn btn-primary m-x-auto" style="display:block">SHOW/HIDE XML Resposne</button>
            <div id="xml_div" style="display:none">
                <pre><code class="language-xml">
                    {{ response }}
                </code></pre>
            </div>
        </div>
    {% endif %}

    </div>
    <!-- Field names: access_token -->
    <div class="form-group row">
        <label for="access_token" class="col-xs-2 col-form-label text-xs-right">Access Token</label>
        <div class="col-xs-10">
            <div id="access_token_alert"></div>
            <div class="input-group">
                <input type="text" name="access_token" value="Bearer 2a85f4bd-30db-4b7d-8f41-b046b0566cb3"
                       class="required form-control form-control-md" id="access_token" placeholder="Access Token">
            </div>
        </div>
    </div>

    <ul class="list-group">

        <li class="list-group-item list-group-item-action list-group-item-info"><a data-toggle="collapse"
                                                                                   href="#app_info">
            GET Application Information <i class="fa fa-chevron-down"></i></a></li>
        <div class="collapse" id="app_info">
            <br>
            <div class="card card-outline-success endpoint_links">
                <div class="card-header text-xs-center bg-success">
                    <h6>ENDPOINTS COVERED HERE</h6>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/ApplicationInformation</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/ApplicationInformation/{applicationInformationId}</li>
                    </ul>
                </div>
            </div>
            <!-- Field names: app_info_id -->
            <!-- Button name: app_info_id_submit  -->
            <form id="app_info_id_form" class="form_div" method="post">
                <h3 class="text-xs-center form_header">GET App Info by Id</h3>
                <div class="form-group row">
                    <label for="app_id" class="col-xs-2 col-form-label text-xs-right">App Info Id (Required)</label>
                    <div class="col-xs-10">
                        <div id="app_id_alert"></div>
                        <div class="input-group">
                            <input type="text" name="app_info_id" class="required form-control form-control-md"
                                   id="app_id"
                                   placeholder="App Info Id">
                            <span class="input-group-btn"><button type="submit" name="app_info_id_submit"
                                                                  class="btn btn-success btn-md">Submit</button></span>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Field names: published-min, publshed-max, updated-min, updated-max, max-results, start-index, depth -->
            <!-- Button name: app_info_submit  ------------------------------------------------------------------------>
            <form id="app_info_form" class="form_div" method="post">
                <h3 class="text-xs-center form_header">Get All App Info</h3>
                {% with param="app_info" %}
                    {% include "param_form.html" %}
                {% endwith %}
                <button type="submit" name="app_info_submit" class="btn btn-success btn-md btn-block m-y-1">Submit
                </button>
            </form>
        </div>

        <li class="list-group-item list-group-item-action list-group-item-info"><a data-toggle="collapse" href="#auth">GET
            Authorization <i class="fa fa-chevron-down"></i></a></li>
        <div class="collapse" id="auth">
            <br>
            <div class="card card-outline-success endpoint_links">
                <div class="card-header text-xs-center bg-success">
                    <h6>ENDPOINTS COVERED HERE</h6>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Authorization</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Authorization/{authorizationId}</li>
                    </ul>
                </div>
            </div>

            <!-- Field names: auth_id, published-min, publshed-max, updated-min, updated-max, max-results, start-index, depth -->
            <!-- Button name: auth_submit  -->
            <form id="auth_form" class="form_div" method="post">
                <h3 class="text-xs-center form_header">GET Authorization</h3>
                <div class="form-group row">
                    <label for="auth_id" class="col-xs-2 col-form-label text-xs-right">Authorization Id</label>
                    <div class="col-xs-10">
                        <div class="input-group">
                            <input type="text" name="auth_id" class="form-control form-control-md" id="auth_id"
                                   placeholder="Authorization Id">
                        </div>
                    </div>
                </div>

                {% with param="auth" %}
                    {% include "param_form.html" %}
                {% endwith %}
                <button type="submit" name="auth_submit" class="btn btn-success btn-md btn-block m-y-1">Submit</button>
            </form>
        </div>


        <li class="list-group-item list-group-item-action list-group-item-info"><a data-toggle="collapse" href="#bulk">GET
            Bulk
            Transfer from DataCustodian <i class="fa fa-chevron-down"></i></a></li>

        <div class="collapse" id="bulk">
            <br>
            <div class="card card-outline-success endpoint_links">
                <div class="card-header text-xs-center bg-success">
                    <h6>ENDPOINTS COVERED HERE</h6>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Batch/Bulk/{bulkId}</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Batch/Subscription/{subscriptionId}</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Batch/RetailCustomer/{retailCustomerId}/UsagePoint</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Batch/Subscription/{subscriptionId}/UsagePoint/{usagePointId}</li>
                    </ul>
                </div>
            </div>

            <!-- Id names: bulk_id, sub_id, customer_id, usage_id
            <!-- Field names: published-min, publshed-max, updated-min, updated-max, max-results, start-index, depth -->
            <!-- Button name: bulk_submit  -->
            <form id="bulk_form" class="form_div" method="post">
                <h3 class="text-xs-center form_header">GET Bulk Tranfer</h3>

                <div class="sub_form_div">

                    <div class="form-group row">
                        <label for="bulk_id" class="col-xs-2 col-form-label text-xs-right">Bulk Id</label>
                        <div class="col-xs-8">
                            <div class="input-group">
                            <span class="input-group-addon">
                                <input type="radio" name="bulk_radio" class="id_select" data-group="bulk"
                                       data-pair="bulk_id">
                            </span>
                                <input type="text" name="bulk_id" class="form-control form-control-md id_select required"
                                       id="bulk_id"
                                       placeholder="Bulk Id" data-group="bulk" data-pair="bulk_id">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="bulk_sub_id" class="col-xs-2 col-form-label text-xs-right">Subscription Id</label>
                        <div class="col-xs-8">
                            <div class="input-group">
                            <span class="input-group-addon">
                                <input type="radio" name="bulk_radio" class="id_select" data-group="bulk"
                                       data-pair="bulk_sub_id">
                            </span>
                                <input type="text" name="sub_id" class="form-control form-control-md id_select required"
                                       id="bulk_sub_id"
                                       placeholder="Subscription Id" data-group="bulk" data-pair="bulk_sub_id">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="bulk_customer_id" class="col-xs-2 col-form-label text-xs-right">Retail Customer
                            Id</label>
                        <div class="col-xs-8">
                            <div class="input-group">
                            <span class="input-group-addon">
                                <input type="radio" name="bulk_radio" class="id_select" data-group="bulk"
                                       data-pair="bulk_customer_id">
                            </span>
                                <input type="text" name="customer_id"
                                       class="form-control form-control-md id_select required" id="bulk_customer_id"
                                       placeholder="Retail Customer Id" data-group="bulk" data-pair="bulk_customer_id">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="bulk_sub_with_usagepoint_id" class="col-xs-2 col-form-label text-xs-right">Subscription
                            Id / UsagePoint Id</label>
                        <div class="col-xs-8">
                            <div class="input-group">
                            <span class="input-group-addon">
                                <input type="radio" name="bulk_radio" class="id_select" data-group="bulk"
                                       data-pair="bulk_sub_usage">
                            </span>
                                <input type="text" name="sub_id" class="form-control form-control-md id_select required"
                                       id="bulk_sub_with_usagepoint_id"
                                       placeholder="Subscription Id" data-group="bulk" data-pair="bulk_sub_usage">
                                <span>
                                <input type="text" name="usage_id" class="form-control form-control-md id_select required"
                                       id="bulk_usagepoint_with_sub_id"
                                       placeholder="UsagePoint Id" data-group="bulk" data-pair="bulk_sub_usage">
                            </span>
                            </div>
                        </div>
                    </div>
                </div>

                {% with param="bulk" %}
                    {% include "param_form.html" %}
                {% endwith %}
                <button type="submit" name="bulk_submit" class="btn btn-success btn-md btn-block m-y-1">Submit</button>
            </form>
        </div>

        <li class="list-group-item list-group-item-action list-group-item-info"><a data-toggle="collapse"
                                                                                   href="#epower">GET
            Electirc Power Quality and Usage Summaries <i class="fa fa-chevron-down"></i></a></li>


        <div class="collapse" id="epower">
            <div class="card card-outline-success endpoint_links">
                <div class="card-header text-xs-center bg-success">
                    <h6>ENDPOINTS COVERED HERE</h6>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Subscription/{subscriptionId}/UsagePoint/{usagePointId}/ElectricPowerQualitySummary</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Subscription/{subscriptionId}/UsagePoint/{usagePointId}/ElectricPowerQualitySummary/{electricPowerQualitySummaryId}</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Subscription/{subscriptionId}/UsagePoint/{usagePointId}/ElectricUsageQualitySummary</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Subscription/{subscriptionId}/UsagePoint/{usagePointId}/ElectricUsageQualitySummary/{electricUsageQualitySummaryId}</li>
                    </ul>
                </div>
            </div>

            <!-- Id names: sub_id, usage_id, summary_id
            <!-- Field names: published-min, publshed-max, updated-min, updated-max, max-results, start-index, depth -->
            <!-- Button name: epower_submit  -->
            <form id="epower_form" class="form_div" method="post">
                <h3 class="text-xs-center form_header">GET Electrical Power Quality and Usage Summaries</h3>

                <div class="sub_form_div">
                    <div class="form-group row">
                        <label for="epower_summary_id" class="col-xs-3 col-form-label text-xs-right">Electrical Power
                            Summary</label>
                        <div class="form-check">
                            <label class="col-xs-2 form-check-label">
                                Quality: <input type="radio" name="epower_radio" value="quality" checked>
                                Usage: <input type="radio" name="epower_radio" value="usage">
                            </label>
                        </div>
                        <div class="col-xs-7">
                            <div class="input-group">
                                <input type="text" name="summary_id"
                                       class="form-control form-control-md id_select" id="epower_summary_id"
                                       placeholder="Summary Id (Optional)">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="epower_sub_id" class="col-xs-4 col-form-label text-xs-right">Subscription Id
                            (Required)</label>
                        <div class="col-xs-8">
                            <div id="epower_sub_id_alert"></div>
                            <div class="input-group">
                                <input type="text" name="sub_id" class="required form-control form-control-md"
                                       id="epower_sub_id"
                                       placeholder="Subscription Id">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="epower_usagepoint_id" class="col-xs-4 col-form-label text-xs-right">UsagePoint Id
                            (Required) </label>
                        <div class="col-xs-8">
                            <div class="epower_usage_id_alert"></div>
                            <div class="input-group">
                                <input type="text" name="usage_id" class="required form-control form-control-md"
                                       id="epower_usagepoint_id"
                                       placeholder="UsagePoint Id">
                            </div>
                        </div>
                    </div>
                </div>

                {% with param="epower" %}
                    {% include "param_form.html" %}
                {% endwith %}
                <button type="submit" name="epower_submit" class="btn btn-success btn-md btn-block m-y-1">Submit
                </button>
            </form>
        </div>

        <li class="list-group-item list-group-item-action list-group-item-info"><a data-toggle="collapse"
                                                                                   href="#interval">GET Interval
            Block <i class="fa fa-chevron-down"></i></a></li>

        <div class="collapse" id="interval">
            <br>
            <div class="card card-outline-success endpoint_links">
                <div class="card-header text-xs-center bg-success">
                    <h6>ENDPOINTS COVERED HERE</h6>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/IntervalBlock</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/IntervalBlock/{intervalBlockId}</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Subscription/{subscriptionId}/UsagePoint/{usagePointId}/MeterReading/{meterReadingId}/IntervalBlock</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Subscription/{subscriptionId}/UsagePoint/{usagePointId}/MeterReading/{meterReadingId}/IntervalBlock/{intervalBlockId}</li>
                    </ul>
                </div>
            </div>

            <!-- Id names: sub_id, usage_id, meter_id, interval_id
            <!-- Field names: published-min, publshed-max, updated-min, updated-max, max-results, start-index, depth -->
            <!-- Button name: interval_submit  -->
            <form id="interval_form" class="form_div" method="post">
                <h3 class="text-xs-center form_header">GET Interval Block</h3>

                <div class="sub_form_div">
                    <div class="form-group row">
                        <label for="interval_select" class="col-xs-5 offset-xs-2">Include Subscription, UsagePoint, and
                            Meter Reading Ids?</label>
                        <input id="interval_select" class="form-check-input" type="checkbox" value="">
                    </div>
                    <hr>
                    <div class="form-group row">
                        <label for="interval_sub_id" class="col-xs-2 col-form-label text-xs-right">Subscription Id
                            (Required)</label>
                        <div class="col-xs-2">
                            <div class="input-group">
                                <input type="text" name="sub_id"
                                       class="form-control form-control-md interval_select_input" id="interval_sub_id"
                                       placeholder="Subscription Id" disabled>
                            </div>
                        </div>
                        <label for="interval_usagepoint_id" class="col-xs-2 col-form-label text-xs-right">UsagePoint Id
                            (Required) </label>
                        <div class="col-xs-2">
                            <div class="input-group">
                                <input type="text" name="usage_id"
                                       class="form-control form-control-md interval_select_input"
                                       id="interval_usagepoint_id"
                                       placeholder="UsagePoint Id" disabled>
                            </div>
                        </div>
                        <label for="interval_meter_id" class="col-xs-2 col-form-label text-xs-right">Meter Reading Id
                            (Required) </label>
                        <div class="col-xs-2">
                            <div class="input-group">
                                <input type="text" name="meter_id"
                                       class="form-control form-control-md interval_select_input" id="interval_meter_id"
                                       placeholder="Meter Reading Id" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="interval_id" class="col-xs-2 col-form-label text-xs-right">Interval Block Id</label>
                    <div class="col-xs-10">
                        <div class="input-group">
                            <input type="text" name="interval_id" class="form-control form-control-md id_select"
                                   id="interval_id"
                                   placeholder="Interval Block Id (Optional)">
                        </div>
                    </div>
                </div>
                {% with param="interval" %}
                    {% include "param_form.html" %}
                {% endwith %}
                <button type="submit" name="interval_submit" class="btn btn-success btn-md btn-block m-y-1">Submit
                </button>
            </form>
        </div>


        <li class="list-group-item list-group-item-action list-group-item-info"><a data-toggle="collapse"
                                                                                   href="#local_time">GET Local
            Time Parameters <i class="fa fa-chevron-down"></i></a></li>

        <div class="collapse" id="local_time">
            <br>
            <div class="card card-outline-success endpoint_links">
                <div class="card-header text-xs-center bg-success">
                    <h6>ENDPOINTS COVERED HERE</h6>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/LocalTimeParameters</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/LocalTimeParameters/{localTimeParameterId}</li>
                    </ul>
                </div>
            </div>

            <!-- Field names: local_time_id, published-min, publshed-max, updated-min, updated-max, max-results, start-index, depth -->
            <!-- Button name: local_time_submit  -->
            <form id="local_time_form" class="form_div" method="post">
                <h3 class="text-xs-center form_header">GET local_time Parameter</h3>
                <div class="form-group row">
                    <label for="local_time_id" class="col-xs-2 col-form-label text-xs-right">Local Time Parameter
                        Id</label>
                    <div class="col-xs-10">
                        <div class="input-group">
                            <input type="text" name="local_time_id" class="form-control form-control-md"
                                   id="local_time_id"
                                   placeholder="Local Time Parameter Id">
                        </div>
                    </div>
                </div>

                {% with param="local_time" %}
                    {% include "param_form.html" %}
                {% endwith %}
                <button type="submit" name="local_time_submit" class="btn btn-success btn-md btn-block m-y-1">Submit
                </button>
            </form>
        </div>

        <li class="list-group-item list-group-item-action list-group-item-info"><a data-toggle="collapse" href="#meter">GET Meter Readings <i class="fa fa-chevron-down"></i></a></li>

        <div class="collapse" id="meter">
            <br>
            <div class="card card-outline-success endpoint_links">
                <div class="card-header text-xs-center bg-success">
                    <h6>ENDPOINTS COVERED HERE</h6>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/MeterReading</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/MeterReading/{meterReadingId}</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Subscription/{subscriptionId}/UsagePoint/{usagePointId}/MeterReading</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Subscription/{subscriptionId}/UsagePoint/{usagePointId}/MeterReading/{meterReadingId}</li>
                    </ul>
                </div>
            </div>

            <!-- Id names: sub_id, usage_id, meter_id
            <!-- Field names: published-min, publshed-max, updated-min, updated-max, max-results, start-index, depth -->
            <!-- Button name: meter_submit  -->
            <form id="meter_form" class="form_div" method="post">
                <h3 class="text-xs-center form_header">GET Meter Readings</h3>

                <div class="sub_form_div">
                    <div class="form-group row">
                        <label for="meter_select" class="col-xs-5 offset-xs-2">Include Subscription and UsagePoint Ids?</label>
                        <input id="meter_select" class="form-check-input" type="checkbox" value="">
                    </div>
                    <hr>
                    <div class="form-group row">
                        <label for="meter_sub_id" class="col-xs-3 col-form-label text-xs-right">Subscription Id (Required)</label>
                        <div class="col-xs-3">
                            <div class="input-group">
                                <input type="text" name="sub_id"
                                       class="form-control form-control-md meter_select_input" id="meter_sub_id"
                                       placeholder="Subscription Id" disabled>
                            </div>
                        </div>
                        <label for="meter_usagepoint_id" class="col-xs-3 col-form-label text-xs-right">UsagePoint Id (Required) </label>
                        <div class="col-xs-3">
                            <div class="input-group">
                                <input type="text" name="usage_id"
                                       class="form-control form-control-md meter_select_input"
                                       id="meter_usagepoint_id"
                                       placeholder="UsagePoint Id" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="meter_id" class="col-xs-2 col-form-label text-xs-right">Meter Reading Id</label>
                    <div class="col-xs-10">
                        <div class="input-group">
                            <input type="text" name="meter_id" class="form-control form-control-md id_select"
                                   id="meter_id"
                                   placeholder="Meter Reading Id (Optional)">
                        </div>
                    </div>
                </div>
                {% with param="meter" %}
                    {% include "param_form.html" %}
                {% endwith %}
                <button type="submit" name="meter_submit" class="btn btn-success btn-md btn-block m-y-1">Submit
                </button>
            </form>
        </div>


        <li class="list-group-item list-group-item-action list-group-item-info"><a data-toggle="collapse" href="#reading_type">GET Reading Types <i class="fa fa-chevron-down"></i></a></li>

        <div class="collapse" id="reading_type">
            <br>
            <div class="card card-outline-success endpoint_links">
                <div class="card-header text-xs-center bg-success">
                    <h6>ENDPOINTS COVERED HERE</h6>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/ReadingType</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/ReadingType/{readingTypeId}</li>
                    </ul>
                </div>
            </div>

            <!-- Field names: reading_type_id, published-min, publshed-max, updated-min, updated-max, max-results, start-index, depth -->
            <!-- Button name: reading_type_submit  -->
            <form id="reading_type_form" class="form_div" method="post">
                <h3 class="text-xs-center form_header">GET Reading Type</h3>
                <div class="form-group row">
                    <label for="reading_type_id" class="col-xs-2 col-form-label text-xs-right">Reading Type Id</label>
                    <div class="col-xs-10">
                        <div class="input-group">
                            <input type="text" name="reading_type_id" class="form-control form-control-md"
                                   id="reading_type_id"
                                   placeholder="Reading Type Id">
                        </div>
                    </div>
                </div>

                {% with param="reading_type" %}
                    {% include "param_form.html" %}
                {% endwith %}
                <button type="submit" name="reading_type_submit" class="btn btn-success btn-md btn-block m-y-1">Submit</button>
            </form>
        </div>

        <li class="list-group-item list-group-item-action list-group-item-info"><a data-toggle="collapse" href="#server_status">GET Data Custodian Resource Server's Status <i class="fa fa-chevron-down"></i></a></li>

            <!-- Button name: server_status_submit  -->
            <div id="server_status" class="collapse">
                <br>
            <div class="card card-outline-success endpoint_links">
                <div class="card-header text-xs-center bg-success">
                    <h6>ENDPOINTS COVERED HERE</h6>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/ReadServiceStatus</li>
                    </ul>
                </div>
            </div>


                <form id="server_status_form" class="form_div" method="post">
                    <h3 class="text-xs-center form_header">GET Server Status</h3>
                    <button type="submit" name="server_status_submit" class="btn btn-success btn-md btn-block m-y-1">Click to Get Server Status</button>
                </form>
            </div>

        <li class="list-group-item list-group-item-action list-group-item-info"><a data-toggle="collapse" href="#usagepoint">GET UsagePoints <i class="fa fa-chevron-down"></i></a></li>

        <div class="collapse" id="usagepoint">
            <br>
            <div class="card card-outline-success endpoint_links">
                <div class="card-header text-xs-center bg-success">
                    <h6>ENDPOINTS COVERED HERE</h6>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/UsagePoint/</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/UsagePoint/{usagePointId}</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Subscription/{subscriptionId}/UsagePoint</li>
                        <li class="list-group-item list-group-item-info">GET /espi/1_1/resource/Subscription/{subscriptionId}/UsagePoint/{usagePointId}</li>
                    </ul>
                </div>
            </div>

            <!-- Field names: usage_id, sub_id, published-min, publshed-max, updated-min, updated-max, max-results, start-index, depth -->
            <!-- Button name: usagepoint_submit  -->
            <form id="usagepoint_form" class="form_div" method="post">
                <h3 class="text-xs-center form_header">GET UsagePoint</h3>
                <div class="form-group row">
                    <label for="usagepoint_id" class="col-xs-2 col-form-label text-xs-right">UsagePoint Id</label>
                    <div class="col-xs-10">
                        <div class="input-group">
                            <input type="text" name="usage_id" class="form-control form-control-md"
                                   id="usagepoint_id"
                                   placeholder="UsagePoint Id">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="usagepoint_sub_id" class="col-xs-2 col-form-label text-xs-right">Subscription Id</label>
                    <div class="col-xs-10">
                        <div class="input-group">
                            <input type="text" name="sub_id" class="form-control form-control-md"
                                   id="usagepoint_sub_id"
                                   placeholder="Subscription Id">
                        </div>
                    </div>
                </div>

                {% with param="usagepoint" %}
                    {% include "param_form.html" %}
                {% endwith %}
                <button type="submit" name="usagepoint_submit" class="btn btn-success btn-md btn-block m-y-1">Submit</button>
            </form>
        </div>

    </ul>
</div>


<br>
<footer>
    <p class="text-xs-center">&copy; DogPackDesign 2016</p>
</footer>
<!--<script>hljs.initHighlightingOnLoad();</script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"
        integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU"
        crossorigin="anonymous"></script>
<script src="../static/prism.js"></script>
<script src="../static/greenbutton.js"></script>

</body>


</html>