<div class="form-group row">
    <label for="{{ param }}_pub_min" class="col-xs-2 col-form-label text-xs-right">Published Min (Optional)</label>
    <div class="col-xs-4">
        <input type="date" name="published-min" class="form-control form-control-md date date_min date_published"
               id="{{ param }}_pub_min" placeholder="Published Min">
    </div>
    <label for="{{ param }}_pub_max" class="col-xs-2 col-form-label text-xs-right">Published Max (Optional)</label>
    <div class="col-xs-4">
        <input type="date" name="published-max" class="form-control form-control-md date date_max date_published"
               id="{{ param }}_pub_max" placeholder="Published Max">
    </div>
</div>
<div class="form-group row">
    <label for="{{  param  }}_update_min" class="col-xs-2 col-form-label text-xs-right">Updated Min (Optional)</label>
    <div class="col-xs-4">
        <input type="date" name="updated-min" class="form-control form-control-md date date_min date_updated"
               id="{{  param  }}_update_min" placeholder="Updated Min">
    </div>
    <label for="{{  param  }}_update_max" class="col-xs-2 col-form-label text-xs-right">Updated Max (Optional)</label>
    <div class="col-xs-4">
        <input type="date" name="updated-max" class="form-control form-control-md date date_max date_updated"
               id="{{  param  }}_update_max" placeholder="Updated Max">
    </div>
</div>

<div class="form-group row">
    <label for="{{  param  }}_max_results" class="col-xs-2 col-form-label text-xs-right">Max Results (Optional)</label>
    <div class="col-xs-10">
        <input type="text" name="max-results" class="form-control form-control-md"
               id="{{  param  }}_max_results" placeholder="Max Results">
    </div>
</div>
<div class="form-group row">
    <label for="{{  param  }}_start_index" class="col-xs-2 col-form-label text-xs-right">Start Index (Optional)</label>
    <div class="col-xs-10">
        <input type="text" name="start-index" class="form-control form-control-md"
               id="{{  param  }}_start_index" placeholder="Start Index">
    </div>
</div>
<div class="form-group row">
    <label for="{{  param  }}_depth" class="col-xs-2 col-form-label text-xs-right">Depth (Optional)</label>
    <div class="col-xs-10">
        <input type="text" name="depth" class="form-control form-control-md" id="{{  param  }}_depth"
               placeholder="Depth">
    </div>
</div>